{% form 'contact', id: "ContactForm" %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <div class="form--success">
            <div class="success">Thank you, we have saved your questionaire and calculated your programme.</div>
        </div>
      {% else %}
        <div class="field">
        <label for="ContactForm-name">Name:</label>
        <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
        </div>
        <div class="field">
        <label for="ContactForm-email">Email:</label>
        <input autocomplete="email" type="email" id="ContactForm-email" class="field__input" name="contact[email]" spellcheck="false" autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %} aria-invalid="true" aria-describedby="ContactForm-email-error" {% endif %} placeholder="{{ 'templates.contact.form.email' | t }}" >
        </div>
        <div class="field">
        <label name="phone" for="ContactForm-phone">Contact Number:</label>
        <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}" >
        </div>
        <div class="field">
        <label for="ContactForm-file">Upload File:</label>
        <input type="file" id="ContactForm-file" class="field__input" name="contact[file]" value="" placeholder="Upload file">
        </div>
        <button type="submit">Upload</button>
      {% endif %}
    {% endform %}